.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-item-title {
  margin-bottom: 8px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud-color);
  border: 1px solid var(--light-slate-color);
}
